// Set font path
$fa-font-path = "../fonts"
@import "../bower_components/Font-Awesome-Stylus/stylus/index"

$desktop_size = 1024px
$tablet_size = 768px
$phone_size = 320px

@import "Header/style.styl"
@import "Content/style.styl"
@import "Footer/style.styl"

h1
	color red
p
	color yellow
	
body
	background green
	
