$phone = 480px
$tablet_sm = 768px
$tablet_md = 991px
$tablet_lg = 1080px
$desktop_size = 1280px
$desktop_size = 1024px

//Colors
$white = #fff
$blue = #1f63a9
$blueDemon = #23333e
$gray = #e8ebea
$black = #000

@import "b4.styl"
@import "Header/style.styl"
@import "Content/style.styl"
@import "Footer/style.styl"

body
	background white
	font-size 16px
	font-family 'Aileron-Regular', sans-serif
h1
	font-size 1.5em
	color $blueDemon
h2
	font-size 1.4em
	color $blue
h3
	font-size 1.3em
h4
	font-size 1.2em
h5
	font-size 1.1em
p
	font-size 1em
ul
	list-style none
i
	color $blue

label
	font-weight bolder
	color $black

input,textarea
	border none !important
	border-bottom 1px solid $black !important
	border-radius 0 !important
	box-shadow none !important
.input
	&-default
		background-color #e8ebea !important
		border-color #e8ebea !important
		box-shadow none
	&-primary
		background-color #f6f3bb
		border-color #f6f3bb !important

.flex
	display flex
	&-align
		align-items center
	&-justify
		justify-content center

.btn
	color $white
	transition 0.3s
	border-radius 0
	font-weight bold
	&:hover
		background-color rgba($blue, 0.8)
		border-color $blue !important
		color $white
	&-default
		background-color $blue
		border-color $blue !important
	&-primary
		background-color $blueDemon
	&-link
		border-color $blue
		&:hover
			background-color $black
			color $white !important
	&-blue
		border-color $blue
		color $blue

.link
	text-decoration underline
	&-default
		color $blue
		font-weight bolder
	&-primary
		color $black

.title-default
	font-size 1.8em
	font-weight bold

.img-default
	display block
	width 100%
	height auto

.notify
	padding 0.8em
	margin-bottom 1em
	border 2px solid #ddd

	&.success
		background #e6efc2
		color #264409
		border-color #c6d880

	&.error, &.alert
		background #fbe3e4
		color #8a1f11
		border-color #fbc2c4

	&.notice, &.warning
		background #fff6bf
		color #514721
		border-color #ffd324

	&.info
		background #d5edf8
		color #205791
		border-color #92cae4
