footer
  .top
    .container
      .row
        .col-sm-4
          img(src="assets/img/opti-logo.png", alt="OptiClub Logo").img-responsive.logo
        .col-sm-4
          ul.social.list-inline
            li
              img(src="assets/img/opticlub-chat-icon.png", alt="OptiClub").img-responsive
              h2 WhatApp
            li
              img(src="assets/img/opticlub-chat-icon.png", alt="OptiClub").img-responsive
              h2 Chat
      .row.contact
        .col-sm-3
          h2 ¡Di Hola!
          a(href="#")
            | Calle Francia 1225
            | Colonia Moderna
            | Guadalajara, Jalisco
            | C.P 44190
        .col-sm-6
          img(src="assets/img/icono-10.png", alt="OptiClub").img-responsive.padlock
          h2
            | COMPRA 
            b SEGURA
          ul.list-inline
            li
              img(src="assets/img/logo-1.png", alt="OptiClub SPEI").img-responsive
            li
              img(src="assets/img/logo-2.png", alt="OptiClub Paypal").img-responsive
            li
              img(src="assets/img/logo-3.png", alt="OptiClub Visa").img-responsive
            li
              img(src="assets/img/logo-4.png", alt="OptiClub Mastercard").img-responsive
            li
              img(src="assets/img/logo-5.png", alt="OptiClub American Express").img-responsive
            li
              img(src="assets/img/logo-6.png", alt="OptiClub Oxxo Pay").img-responsive
        .col-sm-3
          h2 CONTACTO
          p
            | Lunes-Viernes
            | 8:00 a.m a 5:30 p.m.
          a(href="tel:5213311308015") +5213311308015
      .row
        .col-sm-4
          b
            | OptiClub.
            p Todos los derechos reservados
          a(href="#")
            i.fab.fa-facebook-f
          a(href="#")
            i.fab.fa-instagram
          p OC es una empresa del consorcio
          img(src="assets/img/xantal.png", alt="XAANTAL").img-responsive
        .col-sm-3
          p Garantías, cambios y facturación
          a(href="mailto:cynthiarias@opticlub.mx") cynthiarias@opticlub.mx
        .col-sm-3
          p Dudas y comentarios
          a(href="mailto:hola@opticlub.mx") hola@opticlub.mx
  .bottom
    .container
      .row
        .col-sm-12.text-center
          ul.list-inline
            li
              a(href="#") Terminos y condiciones
            li
              a(href="#") Aviso de Privacidad
            li
              a(href="#") Política de envíos
