footer
  .container-fluid.top
    .row.social
      .col-sm-5.col-md-4.col-sm-offset-1.mb-5
        img(src="assets/img/opti-logo.png", alt="OptiClub Logo").img-responsive
      .col-sm-5.col-md-4
        ul.list-inline
          li
            a(href="https://api.whatsapp.com/send?phone=5213311308015" target="_blank")
              img(src="assets/img/opticlub-wa-icon.png", alt="OptiClub").img-responsive
              h2 WhatApp
          li
            a(href="#", target="_blank")
              img(src="assets/img/opticlub-chat-icon.png", alt="OptiClub").img-responsive
              h2 Chat
    .row.contact
      .col-sm-10.col-sm-offset-1.col-md-2.col-md-offset-1
        h2 ¡Di Hola!
        a(href="https://goo.gl/maps/nhFSauU8D28RiRRR8" target="_blank")
          | Calle Francia 1225
          | Colonia Moderna
          | Guadalajara, Jalisco
          | C.P 44190
      .col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-0
        img(src="assets/img/opticlub-candle-icon.png", alt="OptiClub").img-responsive.m-3
        .payments
          h2
            | COMPRA 
            b SEGURA
          ul.list-inline
            li
              img(src="assets/img/opticlub-payment-spei.png", alt="OptiClub SPEI").img-responsive
            li
              img(src="assets/img/opticlub-payment-paypal.png", alt="OptiClub Paypal").img-responsive
            li
              img(src="assets/img/opticlub-payment-visa.png", alt="OptiClub Visa").img-responsive
            li
              img(src="assets/img/opticlub-payment-mastercard.png", alt="OptiClub Mastercard").img-responsive
            li
              img(src="assets/img/opticlub-payment-ae.png", alt="OptiClub American Express").img-responsive
            li
              img(src="assets/img/opticlub-payment-oxxo.png", alt="OptiClub Oxxo Pay").img-responsive
      .col-sm-10.col-sm-offset-1.col-md-2.col-md-offset-0
        h2 Contacto
        p
          | Lunes-Viernes #[br]
          | 8:00 a.m a 5:30 p.m.
        a(href="tel:5213311308015") +5213311308015
    .row.middle
      .col-sm-4.col-sm-offset-1
        b OptiClub.
        span Todos los derechos reservados
        ul.list-inline
          li
            a(href="#")
              i.fab.fa-facebook-f
          li
            a(href="#")
              i.fab.fa-instagram
          li
            p OC es una empresa del consorcio
          li
            img(src="assets/img/opti-logo-xaantal.png", alt="XAANTAL").img-responsive
      .col-sm-3
        p Garantías, cambios y facturación
        a(href="mailto:cynthiarias@opticlub.mx").link cynthiarias@opticlub.mx
      .col-sm-3
        p Dudas y comentarios
        a(href="mailto:hola@opticlub.mx").link hola@opticlub.mx
  .container-fluid.bottom
    .row
      .col-sm-12
        ul.list-inline
          li
            a(href="#") Terminos y condiciones
          li
            a(href="#") Aviso de Privacidad
          li
            a(href="#") Política de envíos
