header.Header
	.sidebars
		.sidebar.left 
			.bars
				a.btn(href='#', data-action='toggle', data-side='left')
					i.fa.fa-bars
				p Hello World
		.sidebar.right I am on right!
		.sidebar.top I am on top!
		.sidebar.bottom I am on bottom!

	.container
		.row
			.col-xs-10.col-md-4
				a.btn.btn-mobile(href='#', data-action='toggle', data-side='left')
					i.fa.fa-bars
				a.btn.btn-mobile(href='#', data-action='toggle', data-side='right')
					i.fa.fa-bars
				a.btn.btn-mobile(href='#', data-action='toggle', data-side='bottom')
					i.fa.fa-bars
				a.btn.btn-mobile(href='#', data-action='toggle', data-side='top')
					i.fa.fa-bars