header.Header
	.container-fluid
		.row
			.col-sm-12
				ul.list-inline
					li
						a(href="#")
							i.fab.fa-facebook-f
						a(href="#")
							i.fab.fa-instagram
					li
						i.fab.fa-whatsapp
						a(href="tel:521 331 1308015") +521 331 1308015
					li
						a(href="#", class=section == 'index' ? 'active' : '') TIENDA
					li
						a(href="#") NOSOTROS
					li
						a.d-block(href="/")
							img(src="assets/img/opti-logo.png", alt="OptiClub Logo").img-responsive
					li
						img(src="assets/img/menu-1.png", alt="OptiClub").img-responsive
						a(href="#") BUSCAR
					li
						a(href="#") MEMBRESÍAS
					li
						img(src="assets/img/menu-2.png", alt="OptiClub").img-responsive
						a(href="#") MI PAQUETE (23)
					li
						img(src="", alt="OptiClub").img-responsive
						a(href="#") SOY SOCIO
