.Header
	.sidebar.left
		position fixed
		overflow-y scroll
		top 0
		left 0
		bottom 0
		width 260px
		background #f7f7f7
		z-index 9999999999
		.bars

			margin-top 5px
			margin-left 20px
			i 
				color #f96816
				font-size 35px
	.sidebar.right
		top 0
		right 0
		bottom 0
		width 270px
		background #448AFF
		z-index 9999999999
		.bars
			margin-top 5px
			margin-left 20px
			i 
				color #f96816
				font-size 35px
	.sidebar.bottom
		left 0
		right 0
		bottom 0
		height 270px
		background #03A9F4
		z-index 9999999999
		.bars
			margin-top 5px
			margin-left 20px
			i 
				color #f96816
				font-size 35px
	.sidebar.top
		left 0
		right 0
		top 0
		height 270px
		background #03A9F4
		z-index 9999999999
		.bars
			margin-top 5px
			margin-left 20px
			i 
				color #f96816
				font-size 35px
	.sidebars > .sidebar 
		box-shadow 0 0 5px rgba(0, 0, 0, 0.64)
		position fixed
		color white
		padding 30px
		font-size 2em
		text-align center
