doctype html
html(lang="es")
	head
		meta(name="charset", charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width')
		meta(name="title", content="")
		meta(name="description", content="")
		meta(name="keywords", content="")
		meta(name="robots", content="index, follow")
		meta(name="author", content="http://www.lava.mx")
		meta(name="distribution", content="global")
		meta(name="rating" content="general")
		meta(name="revisit-after" content="14 Days")
		title
		link(rel="stylesheet", href="//use.fontawesome.com/releases/v5.0.13/css/all.css", integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp", crossorigin="anonymous")
		link(rel="stylesheet", href="assets/vendor.css")
		link(rel="stylesheet", href="assets/main.css")
		link(rel="icon", type="image/png", href="favicon.png")

		script(src="assets/vendor.js")
		script(src="assets/main.js")
	body
		include parts/header.pug
		
		.Contact.container-fluid
			.row.location
				.col-md-6.info
					img(src="assets/img/opticlub-contact-icon.png", alt="Opticlub").img-responsive
					ul
						li
							img(src="assets/img/opticlub-pin-icon.png", alt="Opticlub")
							a(href="https://goo.gl/maps/nhFSauU8D28RiRRR8")
								b Calle Francia
								p 
									| 1225 Colonia Moderna
									| Guadalajara, Jalisco
									| C.P. 44190
						li
							img(src="assets/img/opticlub-clock-icon.png", alt="Opticlub")
							p
								| Lunes-Viernes #[br]
								| 8:00 a.m. a 5:30 p.m.
						li
							img(src="assets/img/opticlub-wa-blue-icon.png", alt="Opticlub")
							a(href="tel:52 1 3311308015")
								| WhatsApp #[br]
								| +52 1 3311308015
				.col-md-6.px-0
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3733.199413179507!2d-103.35796838470209!3d20.661464586198466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428b200fc7299f1%3A0xbedc3d1d6ec4d667!2sCalle+Francia+1225%2C+Moderna%2C+44190+Guadalajara%2C+Jal.!5e0!3m2!1ses-419!2smx!4v1560205227559!5m2!1ses-419!2smx" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
			.row.content-form.my-5
				.col-sm-8.col-sm-offset-2
					h2 Contáctanos
					span
						b.faq ¿Tienes alguna duda? 
						| Déjanos un mensaje y nos podremos en contacto a la brevedad
					form(action="")
						.form-group.mt-5
							label * Nombre:
							input(type="text").form-control
						.form-group
							label * Email:
							input(type="text").form-control
						.form-group
							label * Asunto:
							input(type="text").form-control.input-default
						.form-group.alert-msg
							img(src="assets/img/opticlub-alert-icon.png", alt="Opticlub")
							label MENSAJE
							textarea(name="", cols="30", rows="10").form-control.input-default
						input(type="submit" value="Envíar Mensaje").btn.btn-default.btn-lg.pull-right
			.row.title
				.col-sm-12
					h2
						| CONOCE AL AGENTE 
						span DE ACUERDO A TU ZONA
			.row.box-gray
				.col-sm-10.col-sm-offset-1.agent
					.item
						img(src="assets/img/opticlub-contact-1.png", alt="Opticlub").img-responsive
						h2 BÁRBARA MUÑOZ
						p Zona: Guadalajara y Zona Metropolitana
						a(href="tel:(521) 333 662 3529") (521) 333 662 3529
						a(href="mailto:bmunoz@opticlub.mx") bmunoz@opticlub.mx
					.item
						img(src="assets/img/opticlub-contact-2.png", alt="Opticlub").img-responsive
						h2 EFRÉN CHÁVEZ
						p Zona: Centro
						a(href="tel:(521) 3313165439") (521) 3313165439
						a(href="mailto:chavez@opticlub.mx") chavez@opticlub.mx
					.item
						img(src="assets/img/opticlub-contact-3.png", alt="Opticlub").img-responsive
						h2 ESTEBAN VELÁZQUEZ
						p Zona: Pacífico y Occidente
						a(href="tel:(55) 458 828 11") (55) 458 828 11
						a(href="mailto:evelazquez@opticlub.mx") evelazquez@opticlub.mx
					.item
						img(src="assets/img/opticlub-contact-3.png", alt="Opticlub").img-responsive
						h2 FRANCISCO ALVARADO
						p Zona: Norte
						a(href="tel:(521) 811 6009222") (521) 811 6009222
						a(href="mailto:jalvarado@opticlub.mx") jalvarado@opticlub.mx
					.item
						img(src="assets/img/opticlub-contact-3.png", alt="Opticlub").img-responsive
						h2 LUIS ENRIQUE
						p Zona: Sureste
						a(href="tel:(521) 3311809429") (521) 3311809429
						a(href="mailto:luisenrique@opticlub.mx") luisenrique@opticlub.mx
					.item
						img(src="assets/img/opticlub-contact-3.png", alt="Opticlub").img-responsive
						h2 OSCAR REYES
						p Zona: Bajío
						a(href="tel:(443) 273 7553") (443) 273 7553
						a(href="mailto:oreyes@opticlub.mx") oreyes@opticlub.mx
		include parts/footer.pug
