doctype html
html(lang="es")
	head
		meta(name="charset", charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width')
		meta(name="title", content="")
		meta(name="description", content="")
		meta(name="keywords", content="")
		meta(name="robots", content="index, follow")
		meta(name="author", content="http://www.lava.mx")
		meta(name="distribution", content="global")
		meta(name="rating" content="general")
		meta(name="revisit-after" content="14 Days")
		title
		link(rel="stylesheet", href="//use.fontawesome.com/releases/v5.0.13/css/all.css", integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp", crossorigin="anonymous")
		link(rel="stylesheet", href="assets/vendor.css")
		link(rel="stylesheet", href="assets/main.css")
		link(rel="icon", type="image/png", href="favicon.png")

		script(src="assets/vendor.js")
		script(src="assets/main.js")
	body
		include parts/header.pug

		.Course
			.container
				.row
					.col-sm-12
						span
							a(href="#") Buscar >
							a(href="#") Cursos >
							a(href="#") Técnicas de venta para generar utilidad en tu negocio
						h1
							| Técnicas de venta
							| para tu Negocio
						h2 7 Estrategias para vender más
						a(href="#").btn.btn-default Iniciar curso
				.row
					.col-sm-12
						ul
							li
								a(href="#") Acerca
							li 
								a(href="#") Programa
							li
								a(href="#") Reseña
							li
								a(href="#") Preguntas frecuentes
				.row
					.col-sm-8
						h2 Acerca de este curso
						.stars
						span 607 comentarios
						p
							| En este curso, identificarás las principales responsabilidades y actividades que realiza un directivo en
							| cualquier nivel de mando. Revisarás ejemplos que reflejan la importancia del ejercicio del liderazgo
							| resaltando el valor del manejo adecuado de la comunicación, toma de desiciones, motivación,
							| delegación, supervisión y coordinación del equipo de trabajo.
						a(href="#") VER MÁS
					.col-sm-4
						h3 Instructores
						b Itzel Mercado, Sofía Rincón y Laura Luna
						h3 Duración
						b 15 minutos
						h2 Material de Descarga
						p
							| Descarga el resumen de nuestra
							b solución “Ventas”
							| en
							b formato PDF
						a(href="#") DESCARGAR
						p
							| Descarga el resumen de nuestra
							b solución Cobranza
							| en
							b formato PDF
						a(href="#") DESCARGAR
						p
							| Descarga el resumen de nuestra
							b solución Cobranza
							| en
							b formato PDF
						a(href="#") DESCARGAR
				.row
					.col-sm-12
						h2 Vídeos que te pueden interesar:
						ul
							li
								a(href="#") Tips
							li
								a(href="#") Conferencias
							li
								a(href="#") Cursos
							li
								a(href="#") Entrevistas
				.row
					.col-sm-12
						.interesting-video
							img(src="", alt="OptiClub").img-responsive
							h2 Top Ventas
							b Introducción a las ventas
							p Curso de Ana López López
							p
								| Muchos vendedores se enfocan únicamente
								| en lo que están vendiendo y se olvidan que
								| están en un negocio donde la base es la
								| gente; tus clientes quieren ser tratados de
								| forma personalizada.
							i.fas.fas
							span 987 comentarios
							a(href="#") ¡Iniciar Ahora!
		include parts/footer.pug
