doctype html
html(lang="es")
	head
		meta(name="charset", charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width')
		meta(name="title", content="")
		meta(name="description", content="")
		meta(name="keywords", content="")
		meta(name="robots", content="index, follow")
		meta(name="author", content="http://www.lava.mx")
		meta(name="distribution", content="global")
		meta(name="rating" content="general")
		meta(name="revisit-after" content="14 Days")
		title= ""
		link(rel="stylesheet", href="assets/vendor.css")
		link(rel="stylesheet", href="assets/main.css")
		link(rel="icon", type="image/png", href="favicon.png")

		script(src="assets/vendor.js")
		script(src="assets/main.js")
	body
		- var section = 'index'
		include parts/header.pug
		
		#home-sidebar.slider-pro
			.sp-slides
				// Slide 1
				.sp-slide
					img.sp-image(data-default='http://bqworks.com/slider-pro/images/image1_medium.jpg', data-retina='http://bqworks.com/slider-pro/images/image1_large.jpg', src='http://bqworks.com/slider-pro/images/image1_medium.jpg', style='width: 100%; height: auto; margin-left: 0px; margin-top: -70px;')
				.sp-slide
					img.sp-image(data-default='http://bqworks.com/slider-pro/images/image1_medium.jpg', data-retina='http://bqworks.com/slider-pro/images/image1_large.jpg', src='http://bqworks.com/slider-pro/images/image1_medium.jpg', style='width: 100%; height: auto; margin-left: 0px; margin-top: -70px;')
				.sp-slide
					img.sp-image(data-default='http://bqworks.com/slider-pro/images/image1_medium.jpg', data-retina='http://bqworks.com/slider-pro/images/image1_large.jpg', src='http://bqworks.com/slider-pro/images/image1_medium.jpg', style='width: 100%; height: auto; margin-left: 0px; margin-top: -70px;')

				// // Slide 2
				// .sp-slide
				// 	p Lorem ipsum dolor sit amet
				// // Slide 3
				// .sp-slide
				// 	h3.sp-layer Lorem ipsum dolor sit amet
				// 	p.sp-layer consectetur adipisicing elit

		.Content
			.container
				.row
					.col-sm-12
						p hola
		include parts/footer.pug