doctype html
html(lang="es")
	head
		meta(name="charset", charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width')
		meta(name="title", content="")
		meta(name="description", content="")
		meta(name="keywords", content="")
		meta(name="robots", content="index, follow")
		meta(name="author", content="http://www.lava.mx")
		meta(name="distribution", content="global")
		meta(name="rating" content="general")
		meta(name="revisit-after" content="14 Days")
		title
		link(rel="stylesheet", href="//use.fontawesome.com/releases/v5.0.13/css/all.css", integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp", crossorigin="anonymous")
		link(rel="stylesheet", href="assets/vendor.css")
		link(rel="stylesheet", href="assets/main.css")
		link(rel="icon", type="image/png", href="favicon.png")

		script(src="assets/vendor.js")
		script(src="assets/main.js")
	body
		include parts/header.pug
		
		header.Header.HeaderHome.d-none
			.container-fluid
				.row
					.col-sm-12.px-0
						ul.list-inline.desktop
							li.social-media
								a(href="#").mr-3
									i.fab.fa-facebook-f
								a(href="#")
									i.fab.fa-instagram
							li.whatsapp
								i.fab.fa-whatsapp.pl-3
								a(href="https://api.whatsapp.com/send?phone=5213311308015" target="_blank").ml-2 +521 331 1308015
							li
								a(href="product.html", class=section == 'index' ? 'active' : '') TIENDA
							li
								a(href="about.html") NOSOTROS
							li.logo
								a.d-block(href="/")
									img(src="assets/img/opti-logo.png", alt="OptiClub Logo").img-responsive
							li.align
								img(src="assets/img/opticlub-monocle-white-icon.png", alt="OptiClub").img-responsive
								a(href="#") BUSCAR
							li
								a(href="membership.html") MEMBRESÍAS
							li.align
								img(src="assets/img/opticlub-box-white-icon.png", alt="OptiClub").img-responsive
								a(href="order.html") MI PAQUETE (23)
							li.align
								img(src="assets/img/opticlub-login-white-icon.png", alt="OptiClub").img-responsive
								a(href="#") SOY SOCIO
						.header-mobil
							a.d-block(href="/")
								img(src="assets/img/opti-logo.png", alt="OptiClub Logo").img-responsive
							a(href="#", target="_blank").open-menu
								i.fas.fa-bars
						ul.mobil
							li
								a(href="product.html", class=section == 'index' ? 'active' : '') TIENDA
							li
								a(href="about.html") NOSOTROS
							li
								a(href="membership.html") MEMBRESÍAS
							li
								a(href="order.html") MI PAQUETE (23)
							li
								a(href="#") SOY SOCIO
							li
								a(href="#").mr-3
									i.fab.fa-facebook-f
								a(href="#")
									i.fab.fa-instagram
								i.fab.fa-whatsapp.px-3
								a(href="https://api.whatsapp.com/send?phone=5213311308015" target="_blank") +521 331 1308015
		//- .Banner-home
		//- 	img(src="assets/img/opticlub-adorn-left-icon.png", alt="OptiClub").img-responsive
		//- 	img(src="assets/img/opticlub-logo-primary.png", alt="OptiClub").img-responsive
		//- 	img(src="assets/img/opticlub-adorn-right-icon.png", alt="OptiClub").img-responsive
		//- 	p
		//- 		| ¿Quieres ganar mayores
		//- 		b utilidades
		//- 		| para tu negocio?
		//- 	b ¡Se parte de nuestro club!
		//- 	a(href="#").btn + CREAR CUENTA
		.Home
			.container-fluid
				.row
					.col-sm-6.product
						.content
							img(src="assets/img/opticlub-home-banner-1.png", alt="OptiClub").img-default
							a(href="product.html").text
								h2
									b Los más vendidos
								p Mira los favoritos de los ópticos
					.col-sm-6.product
						.content
							img(src="assets/img/opticlub-home-banner-2.png", alt="OptiClub").img-default
							a(href="product.html").text
								h2
									| Nuevos 
									span Modelos
								p Mira lo último en lentes
				.row
					.col-sm-12.cta-default
						ul.list-inline
							li
								img(src="assets/img/opticlub-shield-icon.png", alt="OptiClub").img-responsive
								p ¡No te preocupes, tu compra es completamente segura!
							li
								img(src="assets/img/opticlub-package-icon.png", alt="OptiClub").img-responsive
								p Envíos a toda la república mexicana
							li
								img(src="assets/img/opticlub-mobil-card-icon.png", alt="OptiClub").img-responsive
								p
									| ¡Comprar es fácil! Puedes usar #[br]
									| Pay Pal, Tarjeta de débito y crédito o pago en tiendas OXXO.
							li
								img(src="assets/img/opticlub-prize-icon.png", alt="OptiClub").img-responsive
								p ¡Satisfacción Total en nuestros productos!
				.row.membership
					.col-sm-6.col-md-8
						.row
							.col-sm-10.col-sm-offset-1.mt-4
								h1 ¡Únete al Club!
						.row
							.col-sm-5.col-sm-offset-1.item
								h2 MEMBRESÍA
									p SOCIO CLUB
								p.price $0 
									span GRATIS
								.stars
										i.fas.fa-star
										i.far.fa-star
										i.far.fa-star
										i.far.fa-star
										i.far.fa-star
								i.fas.fa-arrow-right.mr-3
								a(href="partner-club.html").btn.btn-blue ACTIVAR AHORA
							.col-sm-5.item
								h2 MEMBRESÍA
									p SOCIO PRIME
								p.price $499 
									span MENSUAL
								.stars
										i.fas.fa-star
										i.fas.fa-star
										i.fas.fa-star
										i.fas.fa-star
										i.fas.fa-star
										i.fas.fa-star
								i.fas.fa-arrow-right.mr-3
								a(href="partner-prime.html").btn.btn-default COMPRAR AHORA
					.col-sm-6.col-md-4
						img(src="assets/img/opticlub-home-banner-3.jpg", alt="OptiClub").img-responsive
				.row
					.col-sm-12.text-center.my-5
						.instagram-title
							i.fab.fa-instagram
							h2 INSTAGRAM
						p opticlub.mx
		include parts/footer.pug
