doctype html
html(lang="en")
	head
		title= pageTitle
		link(rel="stylesheet", href="assets/vendor.css")
		link(rel="stylesheet", href="assets/main.css")
		script(src="assets/vendor.js")
		script(src="assets/main.js")
	body
		h1 Pug - node template engine testing
		#container.col
			if youAreUsingPug
				p You are amazing
			else
				p Get on it!
		p.
			Pug is a terse and simple templating language with a strong focus on performance and powerful features.

		p
			i.fa.fa-facebook.fa-2x