doctype html
html(lang="es")
	head
		meta(name="charset", charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width')
		meta(name="title", content="")
		meta(name="description", content="")
		meta(name="keywords", content="")
		meta(name="robots", content="index, follow")
		meta(name="author", content="http://www.lava.mx")
		meta(name="distribution", content="global")
		meta(name="rating" content="general")
		meta(name="revisit-after" content="14 Days")
		title
		link(rel="stylesheet", href="//use.fontawesome.com/releases/v5.0.13/css/all.css", integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp", crossorigin="anonymous")
		link(rel="stylesheet", href="assets/vendor.css")
		link(rel="stylesheet", href="assets/main.css")
		link(rel="icon", type="image/png", href="favicon.png")

		script(src="assets/vendor.js")
		script(src="assets/main.js")
	body
		include parts/header.pug

		.Membership.container-fluid
			.row
				.col-sm-8.col-sm-offset-2
					.page-title
						h2 Membresía
						h2
							img(src="assets/img/opticlub-gem-icon.png", alt="OptiClub")
							| SOCIO CLUB
			.row
				.col-sm-12.info
					.item
						.text
							a(href="order.html", target="_blank")
								h3
									b Mis paquetes
								p
									| Rastrear pedidos, devolver pedidos, garantías o #[br]
									| comprar algo de nuevo
						img(src="assets/img/opticlub-packages-icon.png", alt="OptiClub").img-responsive
					.item
						.text
							a(href="order.html", target="_blank")
								h3
									b Direcciones
								p Editar direcciones para pedidos y datos fiscales
						img(src="assets/img/opticlub-directions-icon.png", alt="OptiClub").img-responsive
					.item
						.text
							a(href="order.html", target="_blank")
								h3
									b Mi cuenta
								p Editar inicio de sesión, nombre y número de teléfono móvil
						img(src="assets/img/opticlub-account-icon.png", alt="OptiClub").img-responsive
					.item
						.text
							a(href="partner-prime.html", target="_blank")
								h3
									b Beneficios Prime
								p Ver beneficios y cambiarme a PRIME
						img(src="assets/img/opticlub-star-prime-icon.png", alt="OptiClub").img-responsive
			.row
				.col-sm-12.agent
					.item
						img(src="assets/img/opticlub-agent-icon.png", alt="OptiClub").img-responsive
						.details
							h2 Mi agente
							p Francisco Alvarado
							i.fas.fa-star
							i.fas.fa-star
							i.fas.fa-star
							i.fas.fa-star
							i.fas.fa-star
						.contact
							a(href="mailto:jalvarado@opticlub.mx").link-primary jalvarado@opticlub.mx #[br]
							a(href="tel:521 81 384958304").link-primary +521 81 384958304
						.date
							p
								b
									| ¿Prefieres una visita #[br]
									| directamente en tu óptica?
							i.fas.fa-arrow-right
							a(href="#").btn.btn-blue.ml-3 SOLICITA UNA CITA
			.row
				.col-sm-8.col-sm-offset-2.my-5
					.help.pull-right
						a(href="#").link.link-primary ¿Ayuda?
						a(href="#").link.link-primary.ml-3 Preguntas Frecuentes
			.row
				.col-sm-12.cta-default
					ul.list-inline
						li
							img(src="assets/img/opticlub-shield-icon.png", alt="OptiClub").img-responsive
							p ¡No te preocupes, tu compra es completamente segura!
						li
							img(src="assets/img/opticlub-package-icon.png", alt="OptiClub").img-responsive
							p Envíos a toda la república mexicana
						li
							img(src="assets/img/opticlub-mobil-card-icon.png", alt="OptiClub").img-responsive
							p ¡Comprar es fácil! Puedes usar Pay Pal, Tarjeta de débito y crédito o pago en tiendas OXXO.
						li
							img(src="assets/img/opticlub-prize-icon.png", alt="OptiClub").img-responsive
							p ¡Satisfacción Total en nuestros productos!
		include parts/footer.pug
