doctype html
html(lang="es")
	head
		meta(name="charset", charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width')
		meta(name="title", content="")
		meta(name="description", content="")
		meta(name="keywords", content="")
		meta(name="robots", content="index, follow")
		meta(name="author", content="http://www.lava.mx")
		meta(name="distribution", content="global")
		meta(name="rating" content="general")
		meta(name="revisit-after" content="14 Days")
		title
		link(rel="stylesheet", href="//use.fontawesome.com/releases/v5.0.13/css/all.css", integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp", crossorigin="anonymous")
		link(rel="stylesheet", href="assets/vendor.css")
		link(rel="stylesheet", href="assets/main.css")
		link(rel="icon", type="image/png", href="favicon.png")

		script(src="assets/vendor.js")
		script(src="assets/main.js")
	body
		include parts/header.pug

		.Club.container-fluid
			.row
				.col-sm-8.col-sm-offset-2
					img(src="assets/img/opticlub-club-icon.png", alt="OptiClub").img-responsive
					h2
						| ¡Se parte del club!
						b Activa tu cuenta
						| totalmente
						b GRATIS
					form(action="")
						h2 Datos principales
						.row.form-group
							.col-sm-6
								label * Nombre completo:
								input(type="text").form-control
							.col-sm-6
								label * Correo Electrónico:
								input(type="text").form-control
						.row.form-group
							.col-sm-6
								label * Nombre de la empresa:
								input(type="text").form-control
							.col-sm-6
								label * Estado:
								input(type="text").form-control
						.row.form-group
							.col-sm-6
								label * Teléfóno
								input(type="text").form-control
							.col-sm-6
								label * Nombre de mi agente:
								input(type="text").form-control
						.row.form-group
							.col-sm-6
								label.label-pass Contraseña
								.input-group
									input(type="text").form-control.input-primary
									span.input-group-btn
										a(href="#").btn.btn-primary Mostrar
							.col-sm-6
								label Repetir contraseña
								input(type="text").form-control.input-default
						input(type="submit" value="+CREAR TU CUENTA SOCIO CLUB").btn.btn-default.pull-right
			.row
				.col-sm-8.col-sm-offset-2
					p
						| Al crear mi cuenta,
						b estoy de acuerdo
						| con:
					ul
						li Recibir correos electrónicos relacionados con miembros y servicios de OC
						li
							a(href="#").link-default Terminos y condiciones / políticas de envíos*
					p
						| Una vez que hagas el registro un
						b correo de confirmación
						| de tu cuenta, posteriormente a la activación podrás visualizar las marcas y precios de nuestros productos
			.row
				.col-sm-8.col-sm-offset-2
					.title-main
						img(src="assets/img/opticlub-crown-icon.png", alt="OptiClub").img-responsive
						h2
							b Conviértete de Socio Club a 
							| SOCIO PRIME
					p
						span Activa tu cuenta 
						| en un ¡Solo click!
			.row
				.col-sm-8.col-sm-offset-2.benefits
					ul.list-inline
						li
							img(src="assets/img/opticlub-pork-icon.png", alt="OptiClub")
							p EXCELENTES
							span DESCUENTOS
						li
							img(src="assets/img/opticlub-alert-icon.png", alt="OptiClub")
							p ACCESO A CANAL DE
							span VÍDEOS Y RECURSOS
						li
							img(src="assets/img/opticlub-star-icon.png", alt="OptiClub")
							p MARCAS
							span EXCLUSIVAS
						li
							img(src="assets/img/opticlub-glasses-icon.png", alt="OptiClub")
							p CAMBIO DE MERCANCÍA
							span A LOS 6 MESES
						li
							img(src="assets/img/opticlub-web-icon.png", alt="OptiClub")
							p AUMENTO DE
							span UTILIDADES
						li
							img(src="assets/img/opticlub-money-icon.png", alt="OptiClub")
							p MEJOR PRECIO
							span SIN LÍMITE DE VOLUMEN
					.enable
						h2 ¡Comienza a disfrutar de sus beneficios!
						b
							| $499
							span MENSUAL
						i.far.fa-star
						a(href="#").btn.btn-default
							| + ACTIVAR MI CUENTA 
							b AHORA
		include parts/footer.pug
