doctype html
html(lang="en")
	head
		title= pageTitle
		!=assets.vendor.scripts
		!=assets.main.scripts
		!=assets.vendor.styles
		!=assets.main.styles
	body
		h1 Pug - node template engine testing
		#container.col
			if youAreUsingPug
				p You are amazing
			else
				p Get on it!
		p.
			Pug is a terse and simple templating language with a strong focus on performance and powerful features.