.Home
  .box-item
    position absolute
    top 20%
  ul
    width 100%
    display flex
    padding 20px
    li
      border-right 1px solid black
      width 25%
      display flex
      img
        width 90px
  .membership
    margin 10px
    .item
      h2
        color $blueDemon
        span
          color $blue
      .price
        display flex
        align-items baseline
        span
          font-size 2.5em
