.Banner-home
  background-color $blueDemon
  color $white
  display grid
  grid-template-columns auto auto auto

.Home
  .product
    padding-top 1.5rem
    padding-bottom 1.5rem
    .content
      position relative
      a.text
        font-size 1.5em
        text-align center
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        transition 0.5s
        color $blueDemon
        h2
          margin-top 80px
          span
            color $blueDemon
    .content:hover > .text
      background-color rgba(#7b8081, 0.5);
      color $white
      text-decoration none
  .membership
    background-color $gray
    margin 10px
    .item
      @media only screen and (max-width 768px)
        width 50%
        float left
      @media only screen and (max-width 480px)
        width 100%
        display flex
        flex-direction column
        align-items center
      h2
        color $blueDemon
        p
          color $blue
      p.price
        font-size 2.5em
        display flex
        align-items baseline
        span
          font-size 0.5em
          margin-left 10px
      .stars
        margin 15px 0

.About
  background-color $gray
  .title
    font-size 1.5em
    margin-top 60px
    h2
      color $blueDemon
      span
        color $blue
  .content
    margin-top 40px
    margin-bottom 40px
    .item
      h2
        font-size 2em
        font-weight bolder
      a
        margin 40px 0 20px 0
        display block
      p
        &:last-child
          text-align justify
      @media only screen and (max-width 767px)
        width 50%
        height 600px
        float left
      @media only screen and (max-width 480px)
        width 100%
        height auto
        margin-top 15px

.Contact
  .location
    display flex
    & > div
      padding-left 0
      padding-right 0
    .info
      background-color $blueDemon
      img
        float left
      ul
        float right
        li
          display flex
          color $white
          padding 10px 0
          img
            margin-right 20px
  .message
    margin 20px 0
    i
      border 2px solid $blue
      padding 10px 16px
      border-radius 20px
    label
      color $blue
  .title
    background-color $gray
    padding 20px 0
    text-align center
    span
      color $blueDemon
  .agent
    background-color $gray
    .item
      display flex
      flex-direction column
      align-items center
      margin-bottom 40px
      h2
        font-size 2em
        font-weight bolder
      a
        color $blue
        display block

.Prime
  .title
    display flex
    align-items center
    .crown
      width 50px
    h2
      margin-left 10px
      color $blueDemon
      b
        color $blue
        display block
    .adorn
      position absolute
      top 0
      right 20px
      z-index 1
  .content-form
    h2
      color $blueDemon
      margin 40px 0
  .benefit-title
    text-align center
    margin-bottom 20px
    h2
      color $blueDemon
      b
        color $blue

.Club
  .title
    display flex
    align-items center
    .content
      margin-left 10px
      h2
        color $blueDemon
        font-weight bold
      b.enable
        color $blue
    .adorn
      position absolute
      top 0
      right 20px
      z-index 1
  .content-form
    h2
      color $blueDemon
      font-weight bold
  .benefits
    display flex
    ul
      width 60%
      display grid
      grid-template-columns auto auto auto
    .enable
      width 40%
      background-color $blueDemon
      h2, b
        color $white

.Membership
  .title
    h2
      margin 8px 0
      &:first-child
        color $blueDemon
    img
      width 40px
  .info
    @media only screen and (min-width 768px)
      display grid
      grid-template-columns auto auto
      width 66.66666667%
      margin-left 16.66666667%
    .item
      border 1px solid #b8c3c0
      display flex
      justify-content space-between
      align-items center
      padding 10px
      margin 10px
  .agent
    width 66.66666667%
    margin-left 16.66666667%
    @media only screen and (max-width 768px)
      width 100%
      margin-left 0
    .item
      border 1px solid #b8c3c0
      padding 10px
      margin 10px
      display grid
      grid-template-columns auto auto auto auto
      align-items center
      justify-items center
      @media only screen and (max-width 1080px)
        grid-template-columns auto auto
      @media only screen and (max-width 480px)
        grid-template-columns auto
      .details, .date
        @media only screen and (max-width 1080px)
          text-align center
          margin 10px 0
      h2
        color $blueDemon

.Product
  ul.sidebar-category
    padding-left 5px
    border-bottom 1px solid $black
    li
      padding 7px 0
      a
        color $black
  .item
    text-align center
    b
      font-size 1.3em
    .btn-link
      border 1px solid $black !important
      color $black

.Product-detail
  .breadcrumbs
    a
      color $blueDemon
      font-weight bold
      b
        color $blue
  ul.thumbnails
    padding-left 0
    li
      border 1px solid $gray
      margin 10px 0
  .content
    .name
      h2
        color $blueDemon
        font-size 1.5em
        font-weight bold
      span
        display block
    .price
      font-size 2em
  ul.nav-tabs
    a
      color $blueDemon
      font-weight bold
    .active a
      text-decoration underline
  .tab-content
    padding 10px
    p
      line-height 25pt
      text-align justify

.Course
  .breadcrumbs
    border-bottom 1px solid $black
    ul
      padding 30px
      margin 0
      li
        padding 0 15px
        a
          color $blue
  .about
    p
      text-align justify
      width 80%
  #video-carousel
    .item
      background-color $gray
      .top
        color $blueDemon
      .title
        color $blue
        font-weight 1.5em
  .sidebar-right
    h3
      font-weight bold
      font-size 1.5em
      color $blueDemon
    b
      color $blue
      font-weight bold
    p
      b
        color $black

.cta-default
  background-color $gray
  margin 3rem 0
  ul
    display grid
    grid-template-columns auto auto auto auto
    padding 20px 0
    margin 0
    width 100%
    @media only screen and (max-width 992px)
      grid-template-columns auto auto
    @media only screen and (max-width 480px)
      grid-template-columns auto
    li
      border-right 1px solid #b8c3c0
      display flex
      align-items center
      margin 10px
      p
        margin-left 10px

.cta-offer
  display flex
  color $white
  & > div:first-child, & > div:last-child
    padding 20px 0
    display flex
    align-items center
    justify-content center
  & > div:first-child
    background-color $blueDemon
  & > div:last-child
    background-color $blue

.benefits
  background-color $gray
  ul
    display grid
    grid-template-columns auto auto auto auto auto auto
    justify-content center
    text-align center
    margin 0
    padding 35px 0
    @media only screen and (max-width 1080px)
      grid-template-columns auto auto auto
    @media only screen and (max-width 768px)
      grid-template-columns auto auto
    li
      font-weight bold
      color $blueDemon
      padding 20px
      p
        margin 15px 0 0
      span
        color $blue

.pass-style
  label
    color $blue
  a
    padding 6px 40px

.title-default
  color $blueDemon

.title-main
  display flex
  align-items center
  h2
    margin-left 10px
    color $blueDemon
    b
      color $blue
      display block

.agree
  margin-top 3rem
  margin-bottom 3rem
  p
    &:first-child
      margin 3rem 0
    &:last-child
      text-align justify
      b
        color $blue
  ul
    list-style circle
    li
      margin 10px 0
      a, p, span
        color $blue
      span
        font-size 0.8em
