footer, a
  color $white
  .top
    background-color $blueDemon
    ul.social
      li
        img
          float left
        h2
          color white
          float right
  .bottom
    background-color $blue
