footer, a
  color $white
  .top
    background-color $blueDemon
    .social
      padding-top 30px
      ul
        li
          img
            float left
            margin-right 10px
          h2
            color white
            float right
  .contact
    padding-bottom 40px
    img
      float left
    .payments
      h2
        color $white
      ul
        display flex
        @media only screen and (max-width 480px)
          flex-direction column
  .middle
    padding-bottom 30px
  .bottom
    background-color $blue
    text-align center
    ul
      padding 20px 0
      li
        padding 0 40px
