footer, a
  color $white
  .top
    background-color $blueDemon
    .logo
      width 180px
    ul.social
      li
        img
          width 40px
          float left
        h2
          color white
          float right
    .contact
      img
        width 80px
  .bottom
    background-color $blue
